h1#tittle {
	text-align: center;
}

p#description {
	text-align: center;
}

h2.subtittle {
	text-align: center;
}

p.column-description {
	text-align: center;
}

img.img-columns {
	height: 10rem;
}

container-fluid {
	margin: 0;
}
